@import url('https://fonts.googleapis.com/css?family=Work+Sans');
* {
  font-family: 'Work Sans', sans-serif;
}

.cards_container {
  list-style-type: none;
} .cards_container li {
  margin: 50;
  display: inline-block;
}
